# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of syncstorage-rs-docker systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ syncstorage_rs_docker_identifier }}.service"
  register: syncstorage_rs_docker_service_stat

- name: Uninstall syncstorage-rs-docker systemd services and files
  when: syncstorage_rs_docker_service_stat.stat.exists | bool
  block:
    - name: Ensure syncstorage-rs-docker systemd service is stopped
      ansible.builtin.service:
        name: "{{ syncstorage_rs_docker_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure syncstorage-rs-docker systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ syncstorage_rs_docker_identifier }}.service"
        state: absent

    - name: Ensure syncstorage-rs-docker container network does not exist
      when: syncstorage_rs_docker_container_network_deletion_enabled
      block:
        - name: Ensure syncstorage-rs-docker container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ syncstorage_rs_docker_container_network }}"
            state: absent
          register: syncstorage_rs_docker_network_deletion_result

        - name: Ensure syncstorage-rs-docker container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ syncstorage_rs_docker_container_network }}
          register: syncstorage_rs_docker_network_deletion_result
          changed_when: syncstorage_rs_docker_container_network in syncstorage_rs_docker_network_deletion_result.stdout

    - name: Ensure syncstorage-rs-docker path does not exist
      ansible.builtin.file:
        path: "{{ syncstorage_rs_docker_base_path }}"
        state: absent
