{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=syncstorage-rs-docker ({{ syncstorage_rs_docker_identifier }})
{% for service in syncstorage_rs_docker_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in syncstorage_rs_docker_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ syncstorage_rs_docker_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ syncstorage_rs_docker_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ syncstorage_rs_docker_identifier }} \
      --log-driver=none \
      --user={{ syncstorage_rs_docker_uid }}:{{ syncstorage_rs_docker_gid }} \
      --cap-drop=ALL \
      --network={{ syncstorage_rs_docker_container_network }} \
      {% if syncstorage_rs_docker_container_http_host_bind_port %}
      -p {{ syncstorage_rs_docker_container_http_host_bind_port }}:{{ syncstorage_rs_docker_container_http_port }} \
      {% endif %}
      --env-file={{ syncstorage_rs_docker_base_path }}/env \
      --label-file={{ syncstorage_rs_docker_base_path }}/labels \
      --mount type=bind,src={{ syncstorage_rs_docker_base_path }}/local.toml,dst=/config/local.toml \
      {% for volume in syncstorage_rs_docker_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in syncstorage_rs_docker_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ syncstorage_rs_docker_container_image_self_build_name if syncstorage_rs_docker_container_image_self_build else syncstorage_rs_docker_container_image }}

{% for network in syncstorage_rs_docker_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ syncstorage_rs_docker_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ syncstorage_rs_docker_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ syncstorage_rs_docker_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ syncstorage_rs_docker_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ syncstorage_rs_docker_identifier }}

[Install]
WantedBy=multi-user.target
