{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if syncstorage_rs_docker_container_labels_traefik_enabled %}
traefik.enable=true

{% if syncstorage_rs_docker_container_labels_traefik_docker_network %}
traefik.docker.network={{ syncstorage_rs_docker_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if syncstorage_rs_docker_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ syncstorage_rs_docker_identifier }}-slashless-redirect.redirectregex.regex=^({{ syncstorage_rs_docker_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ syncstorage_rs_docker_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [syncstorage_rs_docker_identifier + '-slashless-redirect'] %}
{% endif %}

{% if syncstorage_rs_docker_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ syncstorage_rs_docker_identifier }}-strip-prefix.stripprefix.prefixes={{ syncstorage_rs_docker_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [syncstorage_rs_docker_identifier + '-strip-prefix'] %}
{% endif %}

{% if syncstorage_rs_docker_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in syncstorage_rs_docker_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ syncstorage_rs_docker_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [syncstorage_rs_docker_identifier + '-add-request-headers'] %}
{% endif %}

{% if syncstorage_rs_docker_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in syncstorage_rs_docker_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ syncstorage_rs_docker_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [syncstorage_rs_docker_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.rule={{ syncstorage_rs_docker_container_labels_traefik_rule }}
{% if syncstorage_rs_docker_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.priority={{ syncstorage_rs_docker_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.service={{ syncstorage_rs_docker_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.entrypoints={{ syncstorage_rs_docker_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.tls={{ syncstorage_rs_docker_container_labels_traefik_tls | to_json }}
{% if syncstorage_rs_docker_container_labels_traefik_tls %}
traefik.http.routers.{{ syncstorage_rs_docker_identifier }}.tls.certResolver={{ syncstorage_rs_docker_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ syncstorage_rs_docker_identifier }}.loadbalancer.server.port={{ syncstorage_rs_docker_container_http_port }}
{% endif %}

{% for arg in syncstorage_rs_docker_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
